/Clase03/ArticulosWeb/target/
Tarea3/Jesús R. Aguilera Peña/Web/target/Web-1.0-SNAPSHOT/Tomcat.dpf
Tarea3/Jesús R. Aguilera Peña/Web/target/Web-1.0-SNAPSHOT/WEB-INF/jsps/editarDisciplina.jsp
*.war
*.class
*.war
*.netbeans_automatic_build
*.jar